*.pyc
*~
config.cfg
data/wikipedia/missing_templates/*
data/wikipedia/answers/*
data/wikipedia/catscan/*
data/wikipedia/wikipedia_it_coordinates.csv
data/wikipedia/non_mappable/*
data/workaround/*
data/nuts4nuts/nuts4nuts*
data/nuts4nuts/articles_to_scan.txt
data/OSM/*
data/logs/*
data/stats/*
html/*
!html/css
!html/img
!html/js

