{% extends "base.html" %}

{% macro errors_or_warnings_table(tagsDict) %}
    <table class="data">
    {% for tag in tagsDict|dictsort %}
      <tr>
        <td>{{ tag[0] }}</td>
        <td>{{ helpers.osm_ids_string(tag[1])[1] }}</td>
        <td>{{ helpers.josm_link("download", helpers.overpass_query(tag[1]), "./img/josm.png") }}</td>
      </tr>
    {% endfor %}
    </table>
{% endmacro %}

{% block content %}
    <div id="go_to_home"><a href="./index.html">&#8592; Tutte le categorie</a></div>
    <div id="content">
    <h2><a id="Tag errati"></a>Errori</h2>
    <p>Tag privi dell'indicazione della lingua, che si riferiscono ad articoli stranieri inesistenti o che non sembrano articoli Wikipedia.</p>
    <!-- Errors -->
    {% if app.wrongTags|length == 0 %}
    <p><i>Nessun errore rilevato.</i></p>
    {% else %}
    {{ errors_or_warnings_table(app.wrongTags) }}
    <br>
    {% endif %}
    <h2>Avvertimenti</h2>
    <p>Pagine di Wikipedia taggate tramite una url o con lingua in maiuscolo.<br>Non sono errori e sono usati da WIWOSM, ma sono sconsigliati dal <a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank">Wiki</a>.</p>
    {% if app.badTags|length != 0 %}
    {{ errors_or_warnings_table(app.badTags) }}
    {% endif %}
    </div>
{% endblock %}
