{% extends "base.html" %}

{% macro errors_or_warnings_table(tagsDict) %}
    <table class="data">
    {% for tag in tagsDict|dictsort %}
      <tr>
        <td>{{ tag[0] }}</td>
        <td>{{ helpers.osm_ids_string(tag[1])[1] }}</td>
        <td>{{ helpers.josm_link("download", helpers.overpass_query(tag[1]), "./img/josm.png") }}</td>
      </tr>
    {% endfor %}
    </table>
{% endmacro %}

{% block content %}
    <div id="go_to_home"><a href="./index.html">&#8592; Tutte le categorie</a></div>
    <div id="content">
    <h2><a id="Tag errati"></a>{% trans %}Errors{% endtrans %}</h2>
    <p>{% trans %}Tags without a lang, about foreign non existing articles or that does not seem to be Wikipedia articles.{% endtrans %}</p>
    <!-- Errors -->
    {% if app.wrongTags|length == 0 %}
    <p><i>{% trans %}No errors where found{% endtrans %}</i></p>
    {% else %}
    {{ errors_or_warnings_table(app.wrongTags) }}
    <br>
    {% endif %}
    <h2>{% trans %}Warnings{% endtrans %}</h2>
    <p>{% trans %}Wikipedia articles tagged with a url or with uppercase lang.<br>They are not errors and are used by WIWOSM, but the Wiki <a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank">the Wiki</a> suggests to do not use them{% endtrans %}.</p>
    {% if app.badTags|length != 0 %}
    {{ errors_or_warnings_table(app.badTags) }}
    {% endif %}
    </div>
{% endblock %}
