{# Help page #}
{% extends "index_base.html" %}

{% import "macros.html" as macro %}

{% block index3Selected %}
 id="selected"
{% endblock %}

{% block content %}
  <div id="content">
<!-- How to -->
    <h2>{% trans %}What do to{% endtrans %}</h2>
    <ul>
      <li>{% trans %}<b>Add the tag</b> to the object in OSM, leaving empty spaces between words, es.<b>"wikipedia=en:Article's title"</b>{% endtrans %}.</li>
      <li>{% trans %}<b>Just one language</b>. If the article is already tagged in a foreign language a new tag is not needed (see <a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank"> exceptions</a> on OSM Wiki).{% endtrans %}</li>
      <li>{% trans %}<b>Non mappable</b> articles or categories, e.g. "Paintings in X Museum", can be removed from these pages, when reported to maintainers.<br><a href="non_mappable.html" target="_blank">This page</a> can help to find them.{% endtrans %}</li>
    </ul>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="{{ root }}img/iD_logo.png" width="48px"></td>
        <td colspan="2">{% trans %}Tutorials for adding tags with <b><a href="http://ideditor.com/" target="_blank">iD</a></b> editor:{% endtrans %}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <iframe width="300" height="169" src="//www.youtube-nocookie.com/embed/lCJOvFk8sTc" frameborder="0" allowfullscreen></iframe>
          <br>{% trans %}From articles tables{% endtrans %}
        </td>
        <td>
          <iframe width="300" height="169" src="//www.youtube-nocookie.com/embed/_2ouZ7jK5TE" frameborder="0" allowfullscreen></iframe>
          <br>{% trans %}From the map{% endtrans %}
        </td>
      </tr>
    </table>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="{{ root }}img/JOSM_logo.png"></td>
        <td>{% trans %}Tutorial for adding tags with <b><a href="http://wiki.openstreetmap.org/wiki/IT:JOSM" target="_blank">JOSM</a></b> editor:{% endtrans %}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <iframe width="300" height="169" src="//www.youtube-nocookie.com/embed/v7mc37dxnS8" frameborder="0" allowfullscreen></iframe>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>{% trans %}You can also use these two useful tools with JOSM:{% endtrans %}
          <ul>
            <li>{% trans %}<a href="http://josm.openstreetmap.de/wiki/Help/Plugin/Wikipedia" target="_blank">Plugin Wikipedia</a>. Hint: copy a category name from a table and paste it into the plugin.{% endtrans %}</li>
            <li>{% trans %}<a href="http://wiki.openstreetmap.org/wiki/JOSM/Plugins/RemoteControl/Add-tags" target="_blank">add-tags</a>. Hint: you can easily use this tool by clicking on these icons{% endtrans %} <img src="{{ root }}img/add-tags.png">.</li>
          </ul>
        </td>
      </tr>
    </table>

    <!-- Legenda -->
    <h2>{% trans %}Tables' legend{% endtrans %}</h2>
    <p>{% trans %}Colors and symbols in tables.{% endtrans %}</p>
    {{ macro.legenda(root, "") }}
  </div>
{% endblock %}
