{# Map page #}
{% extends "index_base.html" %}

{% import "macros.html" as macro %}

{% block index2Selected %}
 id="selected"
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.ie.css" /><![endif]-->
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MarkerCluster CSS and JS -->
    <link rel="stylesheet" href="{{root}}css/screen.css" />
    <link rel="stylesheet" href="{{root}}css/MarkerCluster.css" />
    <link rel="stylesheet" href="{{root}}css/MarkerCluster.Default.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
    <script type="text/javascript"  src="{{root}}js/leaflet.markercluster-src.js"></script>
    <!-- Labelling CSS and JS -->
    <link rel="stylesheet" href="{{root}}css/leaflet.label.css" />
    <script type="text/javascript" src="{{root}}js/leaflet.label.js"></script>
    <script type="text/javascript" src="{{root}}GeoJSON/coords.js"></script>
{% endblock %}

{% block content %}
  <div id="content">
    <div id="map_intro">
      <p>{% trans %}<b>Click</b> on an article to visit its page or to map/tag it through the JOSM/iD link (coordinates are taken form Wikipedia).<br>If an article is not mappable in OSM, e.g. the place where an historical event took place, report it to the administrators so that it can be removed (see "Help" page).{% endtrans %}</p>
    </div>
    <div id="map"></div>
   <script type="text/javascript" src="{{root}}js/map.js"></script>
   <!-- <div class="overlay">Articoli da taggare: <script type="application/x-javascript">document.write(coords.features.length);</script></div> -->
  </div>
{% endblock %}
