{% extends "base.html" %}

{% import "macros.html" as macro %}

{% block scripts %}
    {{ macro.showHideDiv() }}
{% endblock%}

{% block header %}
  <div id="header">
    <h1><a id="top"></a>{% trans %}Wikipedia articles which can be mapped in OpenStreetMap{% endtrans %}</h1>
    <p>{% trans %}Lists of Wikipedia articles which can be mapped in OpenStreetMap, through the tag <b><a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank">wikipedia</a> = en:Article's title{% endtrans %}</b>".</p>

    <!-- Informations -->
    <p><a id="description" href="javascript:showHideDiv('info');"><img src="{{root}}img/info.png" class="infoImg"> {% trans %}Information and counters{% endtrans %}</a> | <a href="errors.html" title="Visualizza tag sospetti">{% trans %}Suspicious tags{% endtrans %}</a></p>
    <div id="info" style="display:none">
      <!-- Users -->
      {% if app.users.keys()|length != 0 %}
      <div id="usersdiv">
        <table id="users">
          <tr><th>{% trans %}Mapper{% endtrans %}</th><th>{% trans %}Tag{% endtrans %}</th></tr>
        {% for user, tagsNumber in app.tagsPerUser %}
          <tr><td><a href="http://www.openstreetmap.org/user/{{ user }}/">{{ user }}</a></td><td>{{ tagsNumber }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
      <!-- Stats -->
      <table id="stats">
        {% for row in statsRows %}
          {% set outer_loop = loop %}
          {% if outer_loop.index0 == 3 %}
        <tr>
          <th colspan="{{ row|length + 1 }}">Tag</th>
        </tr>
          {% endif %}
        <tr>
        {% for column in row %}
        {# headers #}
          {% if outer_loop.index0 == 0 %}
          <th>{{ column }}</th>
        {# data #}
          {% else %}
          <td>{{ column }}</td>
          {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
      <h2>{% trans %}Why{% endtrans %}</h2>
      <ul>
        <li>{% trans %}Geographic informations are added to Wikipedia and OpenStreetMap gains more informations about an object.{% endtrans %}</li>
        <li>{% trans %}OpenStreetMap objects with Wikipedia tags are shown in Wikipedia on <a href="http://toolserver.org/~kolossos/openlayers/kml-on-ol.php?lang=it&amp;uselang=de&amp;params=41.89_N_12.491944444444_E_region%3AIT_type%3Alandmark&amp;title=Colosseom&amp;zoom=18&amp;lat=41.89&amp;lon=12.49284&amp;layers=B00000FTTTF">a map</a> (<a href="http://wiki.openstreetmap.org/wiki/WIWOSM" target="_blank">WIWOSM</a> project)."{% endtrans %}</li>
        <li>{% trans %}wikipedia tags lead the queries executed on www.openstreetmap.org (Nominatim) to better results.{% endtrans %}</li>
      </ul>
      <h2>{% trans %}Lists defects{% endtrans %}</h2>
      <ul>
        <li>{% trans %}<b>Non mappable</b> articles or categories, e.g. "Paintings in X Museum", can be removed from these pages, when reported to maintainers.<br><a href="non_mappable.html" target="_blank">This page</a> can help to find them.{% endtrans %}</li>
        <li>{% trans %}It may happen that a sub-category contain an article not striclty related to the choosen theme. If the article is mappable it will be shown anyway.{% endtrans %}</li>
        <li>{% trans %}Articles or sub-categories belonging to multiple categories may appear more than once in the same page.{% endtrans %}</li>
      </ul>
      <h2>{% trans %}Program for pages creation{% endtrans %}</h2>
      <p>{% trans %}Code{% endtrans %}: <a href="https://github.com/simone-f/wikipedia-tags-in-osm" target="_blank">wikipedia-tags-in-osm {{ app.version }}</a> (GPLv3)<br>{% trans%}Author{% endtrans %}: <a href="mailto:groppo8@gmail.com">Simone F.</a> {% trans %}Other authors{% endtrans %}: Luca Delucchi, Cristian Consonni</p>
      <p><br>{% trans %}Credits and attributions.{% endtrans %}</p>
      <p>{% trans %}Thanks to those who reported non mappable articles (names are in commits messages) and to Andrea Borruso for iD tutorials.{% endtrans %}</p>
      <p>{% trans %}Services linked from these pages{% endtrans %}: <a href="http://wiki.openstreetmap.org/wiki/WIWOSM">WIWOSM</a> (master, Kolossos), <a href="http://wiki.openstreetmap.org/wiki/JOSM/Plugins/RemoteControl/Add-tags" target="_blank">add-tags</a> (Kolossos), <a href="http://overpass-turbo.eu/" target="_blank">OverpassTurbo</a> (tyr.asd).</p>
      <p>{% trans %}Services used for pages creation{% endtrans %}: <a href="http://toolserver.org/%7Edaniel/WikiSense/CategoryIntersect.php" target="_blank">CatScan</a> (Duesentrieb), <a href="http://nuts4nutsrecon.spaziodati.eu/">Nuts4Nuts</a>, <a href="http://tools.wmflabs.org/catscan2/quick_intersection.php">quick_intersection</a> (Magnus Manske).</p>
      <p>{% trans %}Themes' icons{% endtrans %}: <a href="https://github.com/mapbox/maki" target="_blank">Maki</a> (BSD)<br>
      Stemmi regionali: <a href="http://www.araldicacivica.it" target="_blank">www.araldicacivica.it</a> (<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/it/">CC BY-NC-ND 3.0</a>)<br>
      Icone di nodi, way, relazioni ed Overpass Turbo da <a href="http://wiki.openstreetmap.org/">Wiki OSM</a>.</p>
    </div>
    <!-- Tabs -->
    <div id="tabs">
      <ul>
        <li{% block indexSelected %}{% endblock %}><a title="{% trans %}Show categories per theme{% endtrans %}" href="./index.html">{% trans %}Themes{% endtrans %}</a></li>
        {% if app.regions != [] %}
        <li{% block index1Selected %}{% endblock %}><a title="{% trans %}Show categories per region{% endtrans %}" href="./index_1.html">{% trans %}Regions{% endtrans %}</a></li>
        {% endif %}
        {% if app.args.show_link_to_wikipedia_coordinates %}
        <li{% block index2Selected %}{% endblock %}><a title="{% trans %}Show map with non tagged articles{% endtrans %}" href="./index_2.html">{% trans %}Map{% endtrans %}</a></li>
        {% endif %}
        <li class="help"{% block index3Selected %}{% endblock %}><a title="{% trans %}Show help{% endtrans %}" href="./index_3.html">{% trans %}Help{% endtrans %}</a></li>
       </ul>
    </div>
  </div>
  {% endblock %}

</body>
</html>
