{% extends "index_base.html" %}

{% import "macros.html" as macro %}

{% block index3Selected %}
 id="selected"
{% endblock %}

{% block content %}
  <div id="content">
<!-- How to -->
    <h2>Cosa fare</h2>
    <ul>
      <li><b>Aggiungi il tag</b> all'oggetto in OSM, lasciando gli spazi tra le parole, es.<b>"wikipedia=it:Titolo dell'articolo"</b>.</li>
      <li><b>Una sola lingua</b>. Se l'articolo è già taggato in una lingua straniera non occorre aggiungere quella italiana (vedi <a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank"> eccezioni</a> sul Wiki di OSM).</li>
      <li>Articoli o categorie <b>non mappabili</b>, ad es. "es. Dipinti nel Museo Tal Dei Tali", possono essere rimossi dalla pagina, se segnalati (vedi "Informazioni e conteggi").<br><a href="non_mappable.html" target="_blank">Questa pagina</a> può aiutare a trovarli.</li>
    </ul>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="img/iD_logo.png" width="48px"></img></td>
        <td>Aggiungi i tag tramite l'editor <b><a href="http://ideditor.com/" target="_blank">iD</a></b> come mostrato in questi due tutorial:</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ul>
            <li>dalle <a href="https://www.youtube.com/watch?v=lCJOvFk8sTc&feature=youtu.be&hd=1" target="_blank">tabelle</a></li>
            <li>dalla <a href="https://www.youtube.com/watch?v=_2ouZ7jK5TE" target="_blank">mappa</a></li>
          </ul>
        </td>
      </tr>
    </table>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="img/JOSM_logo.png"></img></td>
        <td>Se usi l'editor <b><a href="http://wiki.openstreetmap.org/wiki/IT:JOSM" target="_blank">JOSM</a></b>, oltre alle procedure dei video, puoi usare questi due strumenti:</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ul>
            <li><a href="http://josm.openstreetmap.de/wiki/Help/Plugin/Wikipedia" target="_blank">Plugin Wikipedia</a>. Suggerimento: copia dalle tabelle il nome di una categoria ed incollalo nel plugin.</li>
            <li><a href="http://wiki.openstreetmap.org/wiki/JOSM/Plugins/RemoteControl/Add-tags" target="_blank">add-tags</a>. Puoi usare questo servizio anche cliccando sulle icone <img src="./img/add-tags.png"> presenti in queste pagine.
          </ul>
        </td>
      </tr>
    </table>

    <!-- Legenda -->
    <h2>Legenda tabelle</h2>
    <p>Colori e simboli nelle tabelle.</p>
    {{ macro.legenda(pageType="home page", display="") }}
  </div>
{% endblock %}
