{# Regions page #}
{% extends "index_base.html" %}

{% import "macros.html" as macro %}

{% block index1Selected %}
 id="selected"
{% endblock %}

{% block content %}
  <div id="content">

    <!-- Index of regions with icons -->
    <table id="home_index">
      <tr>
      {% for item in app.regions %}
          {% if loop.index0 is divisibleby 4 %}
      </tr>
      <tr>
          {% endif %}
        <td><a href="#{{ item.name }}"><img src="{{root}}{{"img/regions/" ~ item.name.lower() ~ ".png" }}">{{ item.name.replace("_", " ") }}</a></td>
      {% endfor %}
      </tr>
    </table>

    <!-- List of regions -->
    {% for item in app.regions %}

    <!-- region -->
    <h3><a href="#top">&#8593;</a><a id={{ item.name}}></a><img src="{{root}}{{"img/regions/" ~ item.name.lower() ~ ".png"}}" class="item_img"><a href="{{ "./subpages/" ~ item.name ~ ".html" }}" title="{% trans %}Go to region's page{% endtrans %}">{{ item.name.replace("_", " ") }}</a></h3>
    <!-- list of categories -->
    {{ macro.categoriesIndex(app, item, "regions", "home page", loop.index0, root) }}
    {% endfor %}
  </div>
{% endblock %}
