{% extends "index_base.html" %}

{% import "macros.html" as macro %}

{% block index3Selected %}
 id="selected"
{% endblock %}

{% block content %}
  <div id="content">
<!-- How to -->
    <h2>{% trans %}What do to{% endtrans %}</h2>
    <ul>
      <li>{% trans %}<b>Add the tag</b> to the object in OSM, leaving empty spaces between words, es.<b>"wikipedia=en:Article's title"</b>{% endtrans %}.</li>
      <li>{% trans %}<b>Just one language</b>. If the article is already tagged in a foreign language a new tag is not needed (see <a href="http://wiki.openstreetmap.org/wiki/Wikipedia" target="_blank"> exceptions</a> on OSM Wiki).{% endtrans %}</li>
      <li>{% trans %}<b>Non mappable</b> articles or categories, e.g. "Paintings in X Museum", can be removed from these pages, when reported to maintainers.<br><a href="non_mappable.html" target="_blank">This page</a> can help to find them.{% endtrans %}</li>
    </ul>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="img/iD_logo.svg" width="48px"></img></td>
        <td>{% trans %}Add tags with <b><a href="http://ideditor.com/"target="_blank">iD</a></b> editor, like shown in these tutorials:{% endtrans %}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ul>
            <li>{% trans %}from <a href="https://www.youtube.com/watch?v=lCJOvFk8sTc&feature=youtu.be&hd=1" target="_blank">tables</a>{% endtrans %}</li>
            <li>{% trans %}from the <a href="https://www.youtube.com/watch?v=_2ouZ7jK5TE" target="_blank">map</a>{% endtrans %}</li>
          </ul>
        </td>
      </tr>
    </table>

    <table class="noborder">
      <tr>
        <td style="vertical-align:top"><img src="img/JOSM_logo.png"></img></td>
        <td>{% trans %}It you use <b><a href="http://wiki.openstreetmap.org/wiki/IT:JOSM" target="_blank">JOSM</a></b> you can procede in a similar same way, and also use these two tools:{% endtrans %}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <ul>
            <li>{% trans %}<a href="http://josm.openstreetmap.de/wiki/Help/Plugin/Wikipedia" target="_blank">Plugin Wikipedia</a>. Hint: copy a category name from a table and paste it into the plugin.{% endtrans %}</li>
            <li>{% trans %}<a href="http://wiki.openstreetmap.org/wiki/JOSM/Plugins/RemoteControl/Add-tags" target="_blank">add-tags</a>. Hint: you can easily use this tool by clicking on these icons <img src="./img/add-tags.png"> on the pages.{% endtrans %}</li>
          </ul>
        </td>
      </tr>
    </table>

    <!-- Legenda -->
    <h2>{% trans %}Tables' legend{% endtrans %}</h2>
    <p>{% trans %}Colors and symbols in tables.{% endtrans %}</p>
    {{ macro.legenda(pageType="home page", display="") }}
  </div>
{% endblock %}
