{% macro legenda(root, display="none") %}

<div id="legenda" style="display:{{ display }}">
  <table id="legend">
    <tr><td class="index_done100"></td><td colspan="2">100% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr><td class="index_done099"></td><td colspan="2">99% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr><td class="index_done075"></td><td colspan="2">75% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr><td class="index_done050"></td><td colspan="2">50% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr><td class="index_done025"></td><td colspan="2">25% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr><td class="index_done0"></td><td colspan="2">0% {% trans %}articles tagged{% endtrans %}</td></tr>
    <tr>
        <td rowspan="4" class="legendIcon">{% trans %}Tagged object,<br>nothing to do{% endtrans %}<br>:-)</td>
        <td class="legendIcon"><img src="{{root}}img/wiwosm.png"></td>
        <td>{% trans %}Watch the object on Wikipedia map (WIWOSM){% endtrans %}</td>
    <tr>
        <td class="legendIcon"><img src="{{root}}img/josm.png"></td>
        <td>{% trans %}Download the object in JOSM{% endtrans %}</td>
    </tr>
    <tr>
        <td class="legendIcon"><img src="{{root}}img/osm.png"></td>
        <td>{% trans %}Go to OSM web page of this object{% endtrans %}</td>
    </tr>
    <tr>
        <td class="legendIcon"><img src="{{root}}img/Overpass-turbo.png"></td>
        <td>{% trans %}Watch the objects on Overpass Turbo (clickable map, export as image...{% endtrans %}</td>
    </tr>
    <tr>
        <td rowspan="4" class="legendIcon">{% trans %}There is something to do{% endtrans %}<br>:-(</td>
        <td class="legendIcon"><img src="{{root}}img/add-tags.png"></td>
        <td>{% trans %}Search in OSM the objects possibly related to these articles and automatically tag them through <a href="http://wiki.openstreetmap.org/wiki/JOSM/Plugins/RemoteControl/Add-tags" target="_blank">add-tags</a> tool{% endtrans %}</td>
    </tr>
    <tr>
        <td class="legendIcon"><img src="{{root}}img/no_template.png"></td>
        <td>{% trans %}The Wikipedia article is missing the <a href="https://it.wikipedia.org/wiki/Template%3ACoord" target="_blank">Coord template</a>. Click on the icon for more information{% endtrans %}</td>
    </tr>
    <tr>
        <td class="legendIcon" nowrap><img src="{{root}}img/josm_load_and_zoom.png"><img src="{{ root }}img/id.png"></td>
        <td>{% trans %}The article is not tagged but Wikipadia knows its position. Click on the icon for zooming with JOSM/iD editor on the knows position and find more easily the object to tag{% endtrans %}</td>
    </tr>
    <tr>
        <td class="legendIcon" nowrap><img src="{{root}}img/josm_load_and_zoom_blue.png"><img src="{{ root }}img/id_blue.png"></td>
        <td>{% trans %}The article is not tagged but its position has been calculated through the article's contents and <a href="https://github.com/SpazioDati/Nuts4Nuts" target="_blank">Nuts4Nuts</a>. Click on the icon to zoom with JOSM/iD to the known position and find more easily the object to tag"{% endtrans %}</td>
    </tr>
  </table>
</div>
{% endmacro %}

{% macro showHideDiv() %}
    <script type="text/javascript" charset="utf-8">
      function showHideDiv(elementid){
        if (document.getElementById(elementid).style.display == "none"){
            document.getElementById(elementid).style.display = "";
            }
        else {
            document.getElementById(elementid).style.display = "none";
            }
        }
    </script>
{% endmacro %}

{% macro progressClass(item, mode) -%}
done{% if item.progress[mode]["num"] == 0.0 %}
0
    {% elif item.progress[mode]["num"] == 1.0 %}
100
    {% elif item.progress[mode]["num"] <= 0.25 %}
025
    {% elif item.progress[mode]["num"] <= 0.50 %}
050
    {% elif item.progress[mode]["num"] <= 0.75 %}
075
    {% else %}
099
    {% endif %}
{%- endmacro %}

{% macro categoriesIndex(app, item, mode, pageType, tableIndex, root) %}
  {% if mode == "themes" and pageType == "home page" %}
    {% set subcategories = item.categories %}
  {% else %}
    {% set subcategories = item.subcategories %}
  {% endif %}

  {% if mode == "themes" and pageType == "sub page" and not item.articlesAreAllMappable %}
    {% set tableId = ' id="' ~ item.ident ~ '_index"' %}
  {% endif %}
  <table class="categoriesIndex"{{ tableId }}>
    <thead>
      <tr>
        <th></th>
        {% if tableIndex == 0 %}
        <th>{% trans %}Number of tagged articles / all{% endtrans %}</th>
        {% else %}
        <th></th>
        {% endif %}
        {% if app.args.show_link_to_wikipedia_coordinates %}
        <th><img src="{{root}}img/josm_load_and_zoom.png" title="{% trans %}Non tagged articles whose position is known{% endtrans %}"></th>
        {% endif %}
        {% if app.args.show_missing_templates %}
        <th><img src="{{root}}img/no_template.png" title="{% trans %}Tagged articles which are missing Coord template on Wikipedia{% endtrans %}"></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {# Articles #}
      {% if pageType == "sub page" and item.articles|length != 0 %}
      <tr>
        {% if item.titles|length == 0 %}
          {% set colspan = 2 %}
          {% if app.args.show_link_to_wikipedia_coordinates %}
            {% set colspan = colspan + 1 %}
          {% endif %}
          {% if app.args.show_missing_templates %}
            {% set colspan = colspan + 1 %}
          {% endif %}
        <td class="non_mappable" colspan="{{ colspan }}">- <a href="#Articles">{% trans %}Articles{% endtrans %}</a></td>
        {% else %}
        <td>- <a href="#Articles">{% trans %}Articles{% endtrans %}</a></td>
        {% endif %}
        {# progress #}
        {% if item.titles|length != 0 %}
        <td>
          <div class="progress">
            <span class="percent">{{ item.titlesInOSM|length }} / {{ item.titles|length }}</span>
            <div class="bar index_{{ progressClass(item, 'articles') }}" style="width:{{ item.progress.articles.num * 100 }}"></div>
          </div>
        </td>
        {% endif %}
      </tr>
      {% endif %}
      {# Subcategories #}
      {% for subcategory in subcategories %}
      <tr>
        {# Name #}
        {% if pageType == "home page" %}
          {% if mode == "themes" %}
            {% set link = "subpages/" ~ subcategory.name ~ ".html" %}
          {% elif mode == "regions" %}
            {% set link = "subpages/" ~ item.name ~ ".html#" ~ subcategory.name %}
          {% endif %}
        {% else %}
          {% set link = "#" ~ subcategory.name %}
        {% endif %}
        {% if subcategory.isMappable %}
        <td>- <a href="{{ link }}" title="{% trans %}See page{% endtrans %}">{{ subcategory.name.replace("_", " ") }}</a></td>
        {% else %}
          {% set colspan = 2 %}
          {% if app.args.show_link_to_wikipedia_coordinates %}
            {% set colspan = colspan + 1 %}
          {% endif %}
          {% if app.args.show_missing_templates %}
            {% set colspan = colspan + 1 %}
          {% endif %}
        <td class="non_mappable" colspan="{{ colspan }}">- <a href="{{ link }}" title="{% trans %}See page{% endtrans %}">{{ subcategory.name.replace("_", " ") }}</a></td>
        {% endif %}
        {# Progress #}
        {% if subcategory.isMappable %}
        <td>
          <div class="progress">
            <span class="percent">{{ subcategory.allTitlesInOSM|length }} / {{ subcategory.allTitles|length }}</span>
            <div class="bar index_{{ progressClass(subcategory, 'allMArticles') }}" style="width:{{ subcategory.progress.allMArticles.num * 100 }}"></div>
          </div>
        </td>
        {# Number of non tagged articles with Wikipedia coordinates #}
          {% if app.args.show_link_to_wikipedia_coordinates %}
            {% if subcategory.wikipediaCoordsNum == 0 %}
        <td></td>
            {% else %}
        <td>{{ subcategory.wikipediaCoordsNum }}</td>
            {% endif %}
          {% endif %}
        {# Number of articles without Coord template #}
          {% if app.args.show_missing_templates %}
            {% if subcategory.missingTemplatesNum == 0 %}
        <td></td>
            {% else %}
        <td>{{ subcategory.missingTemplatesNum }}</td>
            {% endif %}
          {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
