{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

        var itemTypeFilter;
        var mappability;
        var items = [];
        //var itemsNum = {"categories" : 0, "articles" : 0};

        $.getJSON( "json/main.json", function(data){

            /*//Count all items
            count_items(data);
            $("#categoriesNum").html(itemsNum.categories);
            $("#articlesNum").html(itemsNum.articles);*/

            //Search for item with substring
            $("#in").keypress(function(event){
                if(event.keyCode == 13){
                    event.preventDefault();
                    $("#button").click();
                }
            });

            $("#button").click(function(){

                //reset
                if (document.getElementById("categoriesRBtn").checked) {itemTypeFilter = ["category"]};
                if (document.getElementById("articlesRBtn").checked) {itemTypeFilter = ["article"]};
                if (document.getElementById("allItemsRBtn").checked) {itemTypeFilter = ["category", "article"]};
                if (document.getElementById("mappableRBtn").checked) {mappability = "mappable"};
                if (document.getElementById("nonMappableRBtn").checked) {mappability = "non mappable"};
                if (document.getElementById("allStatusesRBtn").checked) {mappability = "all"};
                items = [];

                //find items
                var input = $("#in").val();
                find(data, input);

                var code = "";
                if (items.length == 0){
                    code += "<br><i>No results</i>.";}
                else {

                    //remove duplicates items
                    var arr = {"category": {}, "article": {}};
                    for (var i=0; i<items.length; i++) {
                        arr[item_type(items[i])][items[i]["name"]] = items[i];
                        };
                    items = new Array();
                    for (name in arr["category"]) {
                        items.push(arr["category"][name]);
                        };
                    for (name in arr["article"]) {
                        items.push(arr["article"][name]);
                        };

                    //sort
                    var categoriesItems = new Array;
                    var articlesItems = new Array;
                    sort_by_type(categoriesItems, articlesItems)

                    code += "<br><i>" + items.length + " voci</i>.<br>";

                    var modes = new Array("categories", "articles");
                    for (var modeIdx=0; modeIdx<modes.length; modeIdx++) {

                        if (modeIdx == 0) {
                            var finalItems = categoriesItems,
                                modeStr = "Categorie:";
                            }
                        else {
                            var finalItems = articlesItems,
                                modeStr = "Articoli:";
                            }

                        if (finalItems.length != 0) {
                            code += "<br>" + modeStr;

                            for (var i=0; i<finalItems.length; i++){
                                var item = finalItems[i];

                                //Wikipedia link
                                var itemType = item_type(item);

                                var itemTypeStr = "";
                                if (itemType == "category") {itemTypeStr = "Categoria:";}
                                else {itemTypeStr = ""};

                                var link = "<a href='http://it.wikipedia.org/wiki/" + itemTypeStr + item.name + "' target='_blank'>";
                                link += item.name + "</a>";

                                code += "<br>" + link;
                                if (mappability == "all") {
                                    var itemMappability;
                                    if (item.mappable){itemMappability = "M";}
                                    else {itemMappability = "NM";}
                                    code += " " + itemMappability;
                                  }
                                };
                            code += "<br>";
                            };
                        }
                    }

                $("#out").html(code)});

            }
        );

        /* Functions */
        function item_type(item){
            return "children" in item ? "category" : "article";
            };

        /*function count_items(item) {
            itemType = item_type(item);
            itemsNum.itemType += 1;
            if (itemType == "category") {
                var children = item.children;
                for (var i=0; i<children.length; i++){
                    count_items(children[i])};
                }
            };*/

        function find(item, input){
            if (item.name.search(new RegExp(input, "i")) != -1) {

                if (itemTypeFilter.indexOf(item_type(item)) > -1) {
                    if (mappability == "mappable" && item.mappable){
                        items.push(item);}
                    else {
                        if (mappability == "non mappable" && !item.mappable) {
                            items.push(item);}
                        if (mappability != "mappable" && mappability != "non mappable") {
                            items.push(item);}
                        };
                    };
                };

            //recurse
            if ("children" in item) {
                var children = item.children;
                for (var i=0; i<children.length; i++){
                    find(children[i], input)};
                }
            };

        function sort_by_type(categoriesItems, articlesItems){
            for (var i=0; i<items.length; i++){
                if (item_type(items[i]) == "category") {categoriesItems.push(items[i]);}
                else {articlesItems.push(items[i])};
                };
            categoriesItems.sort(sort_by_name)
            articlesItems.sort(sort_by_name)
            };

        function sort_by_name(a, b){
            var aName = a.name.toLowerCase();
            var bName = b.name.toLowerCase();
            return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
            };

    });
    </script>
{% endblock %}

{% block content %}
  <div id="go_to_home"><a href="./index.html">&#8592; {% trans %}All categories{% endtrans %}</a></div>
  <div id="content">
    <div class="form-field">
      <br><h1>{% trans %}Search non mappable items{% endtrans %}</h1>
      <p>{% trans %}Search possible non mappable articles and categories with a substring.{% endtrans %}</p>
      <p>{% trans %}Examples{% endtrans %}</p>
      <ul>
        <li>{% trans %}Article "<i>List</i> of churches in Salerno".{% endtrans %}</li>
        <li>{% trans %}Category "<i>Paintings</i> in Santa Maria Novella basilica"{% endtrans %}</li>
      </ul><!--<p>Categorie: <span id="articlesNum"></span></p>
      <p>Articoli: <span id="articlesNum"></span></p>-->
      <table class="noborder">
        <tr>
          <th>{% trans %}Typology{% endtrans %}:</th>
          <th>{% trans %}Status{% endtrans %}:</th>
        </tr>
        <tr>
          <td><input type=radio name=r1 id="categoriesRBtn" value="categories">{% trans %}categories{% endtrans %}</td>
          <td><input type=radio name=r2 id="mappableRBtn" value="mappable" checked="checked">{% trans %}mappable{% endtrans %}</td>
        </tr>
        <tr>
          <td><input type=radio name=r1 id="articlesRBtn" value="articles" checked="checked">{% trans %}articles{% endtrans %}</td>
          <td><input type=radio name=r2 id="nonMappableRBtn" value="non mappable">{% trans %}non mappable{% endtrans %}</td>
        </tr>
        <tr>
          <td><input type=radio name=r1 id="allItemsRBtn" value="articlesandcategories">{% trans %}all{% endtrans %}</td>
          <td><input type=radio name=r2 id="allStatusesRBtn" value="all">{% trans %}all{% endtrans %}</td>
        </tr>
      </table>
      <p>{% trans %}Search string{% endtrans %}: <input type="text" name="itemName" id="in">
      <input type="button" value="Cerca" id="button"></p>
    </div>
  <div id="out"></div>
</div>
{% endblock %}
